streamlit

python-dotenv

PyPDF2

pdfplumber
pdf2image
pyesseract 
pillow

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-ollama

faiss-cpu

sentence-transformers

time
# python -m pip install