pdfplumber
pdf2image 
pillow
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-ollama
faiss-cpu
sentence-transformers
pdf2image
pytesseract
streamlit


